

#faenas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-top: 40vh;
    margin-bottom: 25vh;
    justify-content: center;
    gap: 50px;
}
header{
    margin-top: 30vh;
}

.project {
    width: 450px;
    height: 450px;
    overflow: hidden; /* Ocultar cualquier contenido que se desborde */
    border: 1px solid #ccc; /* Opcional: Añadir un borde para visualizar mejor el contenedor */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cuarto-dinamic);
}

.project img {
    width: 300px;
    height: 300px;
    object-fit: cover; /* Ajustar la imagen para cubrir el contenedor sin distorsión */
}